# Doctor Decoder

Use Pandas scraping to help decode the medical abbreviations that a doctor might use.

In [1]:
import pandas as pd
import numpy as np

Get the latest Olympic data from wikipidia by scraping

In [2]:
# Olympic url to scrape data from wiki

Olympic_url = 'https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table'

In [4]:
# Use Panda's `read_html` to parse the url and bring all tables

Olympic_tables = pd.read_html(Olympic_url)

# Check the data to see which table to pull
Olympic_tables

[                                                   0
 0                                      Olympic Games
 1                                        Main topics
 2  Bids Boycotts Ceremonies Charter Host cities I...
 3                                              Games
 4  Summer Winter Summer Paralympic Winter Paralym...
 5                                                vte,
                                                0             1             2   \
 0                                             NaN  Summer Games  Winter Games
 1                                 Team (IOC code)             №           NaN
 2                               Afghanistan (AFG)            14             0
 3                                   Algeria (ALG)            13             5
 4                                 Argentina (ARG)            24            21
 5                                   Armenia (ARM)             6             2
 6                         Australasia (ANZ) [ANZ]             2             3
 7                       Australia (AUS) [AUS] [Z]            26           147
 8                                   Austria (AUT)            27            18
 9                                Azerbaijan (AZE)             6             7
 10                                  Bahamas (BAH)            16             6
 11                                  Bahrain (BRN)             9             2
 12                           Barbados (BAR) [BAR]            12             0
 13                                  Belarus (BLR)             6            12
 14                                  Belgium (BEL)            26            40
 15                                  Bermuda (BER)            18             0
 16                        Bohemia (BOH) [BOH] [Z]             3             0
 17                                 Botswana (BOT)            10             0
 18                                   Brazil (BRA)            22            30
 19                British West Indies (BWI) [BWI]             1             0
 20                             Bulgaria (BUL) [H]            20            51
 21                                  Burundi (BDI)             6             1
 22                                 Cameroon (CMR)            14             3
 23                                   Canada (CAN)            26            64
 24                                Chile (CHI) [I]            23             2
 25                              China (CHN) [CHN]            10           224
 26                                 Colombia (COL)            19             5
 27                               Costa Rica (CRC)            15             1
 28                        Ivory Coast (CIV) [CIV]            13             1
 29                                  Croatia (CRO)             7            11
 ..                                            ...           ...           ...
 125                              Sweden (SWE) [Z]            27           145
 126                             Switzerland (SUI)            28            50
 127                                   Syria (SYR)            13             1
 128             Chinese Taipei (TPE) [TPE] [TPE2]            14             5
 129                              Tajikistan (TJK)             6             1
 130                          Tanzania (TAN) [TAN]            13             0
 131                                Thailand (THA)            16             9
 132                                    Togo (TOG)            10             0
 133                                   Tonga (TGA)             9             0
 134               Trinidad and Tobago (TTO) [TTO]            17             3
 135                                 Tunisia (TUN)            14             4
 136                                  Turkey (TUR)            22            39
 137                                  Uganda (UGA)            15             2
 138                                 Ukraine (UKR)             6            35
 139                    United Arab Emirates (UAE)             9             1
 140           United States (USA) [P] [Q] [R] [Z]            27          1022
 141                                 Uruguay (URU)            21             2
 142                              Uzbekistan (UZB)             6             8
 143                               Venezuela (VEN)            18             2
 144                                 Vietnam (VIE)            15             1
 145                          Virgin Islands (ISV)            12             0
 146                        Yugoslavia (YUG) [YUG]            18            28
 147                            Zambia (ZAM) [ZAM]            13             0
 148                          Zimbabwe (ZIM) [ZIM]            13             3
 149                      Unified Team (EUN) [EUN]             1            45
 150      Independent Olympic Athletes (IOA) [IOA]             3             1
 151  Independent Olympic Participants (IOP) [IOP]             1             0
 152      Olympic Athletes from Russia (OAR) [OAR]             0             0
 153                        Mixed team (ZZX) [ZZX]             3             8
 154                                        Totals            28          5116

                  3       4      5    6       7       8       9      10   11  \
 0    Combined Total     NaN    NaN  NaN     NaN     NaN     NaN    NaN  NaN
 1               NaN     NaN  Total    №     NaN     NaN     NaN  Total    №
 2                 0     2.0      2    0     0.0     0.0     0.0      0   14
 3                 4     8.0     17    3     0.0     0.0     0.0      0   16
 4                25    28.0     74   19     0.0     0.0     0.0      0   43
 5                 6     6.0     14    7     0.0     0.0     0.0      0   13
 6                 4     5.0     12    0     0.0     0.0     0.0      0    2
 7               163   187.0    497   19     5.0     5.0     5.0     15   45
 8                33    36.0     87   23    64.0    81.0    87.0    232   50
 9                11    25.0     43    6     0.0     0.0     0.0      0   12
 10                2     6.0     14    0     0.0     0.0     0.0      0   16
 11                1     0.0      3    0     0.0     0.0     0.0      0    9
 12                0     1.0      1    0     0.0     0.0     0.0      0   12
 13               27    39.0     78    7     8.0     5.0     5.0     18   13
 14               53    55.0    148   21     1.0     2.0     3.0      6   47
 15                0     1.0      1    8     0.0     0.0     0.0      0   26
 16                1     3.0      4    0     0.0     0.0     0.0      0    3
 17                1     0.0      1    0     0.0     0.0     0.0      0   10
 18               36    63.0    129    8     0.0     0.0     0.0      0   30
 19                0     2.0      2    0     0.0     0.0     0.0      0    1
 20               87    80.0    218   20     1.0     2.0     3.0      6   40
 21                1     0.0      2    0     0.0     0.0     0.0      0    6
 22                1     2.0      6    1     0.0     0.0     0.0      0   15
 23              102   136.0    302   23    73.0    64.0    62.0    199   49
 24                7     4.0     13   17     0.0     0.0     0.0      0   40
 25              167   155.0    546   11    13.0    28.0    21.0     62   21
 26                9    14.0     28    2     0.0     0.0     0.0      0   21
 27                1     2.0      4    6     0.0     0.0     0.0      0   21
 28                1     1.0      3    0     0.0     0.0     0.0      0   13
 29               10    12.0     33    8     4.0     6.0     1.0     11   15
 ..              ...     ...    ...  ...     ...     ...     ...    ...  ...
 125             170   179.0    494   23    57.0    46.0    55.0    158   50
 126              75    67.0    192   23    56.0    45.0    52.0    153   51
 127               1     1.0      3    0     0.0     0.0     0.0      0   13
 128               7    12.0     24   12     0.0     0.0     0.0      0   26
 129               1     2.0      4    4     0.0     0.0     0.0      0   10
 130               2     0.0      2    0     0.0     0.0     0.0      0   13
 131               8    16.0     33    4     0.0     0.0     0.0      0   20
 132               0     1.0      1    2     0.0     0.0     0.0      0   12
 133               1     0.0      1    2     0.0     0.0     0.0      0   11
 134               5    11.0     19    3     0.0     0.0     0.0      0   20
 135               2     7.0     13    0     0.0     0.0     0.0      0   14
 136              24    28.0     91   17     0.0     0.0     0.0      0   39
 137               3     2.0      7    0     0.0     0.0     0.0      0   15
 138              30    56.0    121    7     3.0     1.0     4.0      8   13
 139               0     1.0      2    0     0.0     0.0     0.0      0    9
 140             795   705.0   2522   23   105.0   112.0    88.0    305   50
 141               2     6.0     10    1     0.0     0.0     0.0      0   22
 142               6    17.0     31    7     1.0     0.0     0.0      1   13
 143               3    10.0     15    4     0.0     0.0     0.0      0   22
 144               3     0.0      4    0     0.0     0.0     0.0      0   15
 145               1     0.0      1    7     0.0     0.0     0.0      0   19
 146              31    31.0     90   16     0.0     3.0     1.0      4   34
 147               1     1.0      2    0     0.0     0.0     0.0      0   13
 148               4     1.0      8    1     0.0     0.0     0.0      0   14
 149              38    29.0    112    1     9.0     6.0     8.0     23    2
 150               0     1.0      2    0     0.0     0.0     0.0      0    3
 151               1     2.0      3    0     0.0     0.0     0.0      0    1
 152               0     0.0      0    1     2.0     6.0     9.0     17    1
 153               5     4.0     17    0     0.0     0.0     0.0      0    3
 154            5082  5490.0  15688   23  1062.0  1058.0  1050.0   3170   51

          12      13      14     15
 0       NaN     NaN     NaN    NaN
 1       NaN     NaN     NaN  Total
 2       0.0     0.0     2.0      2
 3       5.0     4.0     8.0     17
 4      21.0    25.0    28.0     74
 5       2.0     6.0     6.0     14
 6       3.0     4.0     5.0     12
 7     152.0   168.0   192.0    512
 8      82.0   114.0   123.0    319
 9       7.0    11.0    25.0     43
 10      6.0     2.0     6.0     14
 11      2.0     1.0     0.0      3
 12      0.0     0.0     1.0      1
 13     20.0    32.0    44.0     96
 14     41.0    55.0    58.0    154
 15      0.0     0.0     1.0      1
 16      0.0     1.0     3.0      4
 17      0.0     1.0     0.0      1
 18     30.0    36.0    63.0    129
 19      0.0     0.0     2.0      2
 20     52.0    89.0    83.0    224
 21      1.0     1.0     0.0      2
 22      3.0     1.0     2.0      6
 23    137.0   166.0   198.0    501
 24      2.0     7.0     4.0     13
 25    237.0   195.0   176.0    608
 26      5.0     9.0    14.0     28
 27      1.0     1.0     2.0      4
 28      1.0     1.0     1.0      3
 29     15.0    16.0    13.0     44
 ..      ...     ...     ...    ...
 125   202.0   216.0   234.0    652
 126   106.0   120.0   119.0    345
 127     1.0     1.0     1.0      3
 128     5.0     7.0    12.0     24
 129     1.0     1.0     2.0      4
 130     0.0     2.0     0.0      2
 131     9.0     8.0    16.0     33
 132     0.0     0.0     1.0      1
 133     0.0     1.0     0.0      1
 134     3.0     5.0    11.0     19
 135     4.0     2.0     7.0     13
 136    39.0    24.0    28.0     91
 137     2.0     3.0     2.0      7
 138    38.0    31.0    60.0    129
 139     1.0     0.0     1.0      2
 140  1127.0   907.0   793.0   2827
 141     2.0     2.0     6.0     10
 142     9.0     6.0    17.0     32
 143     2.0     3.0    10.0     15
 144     1.0     3.0     0.0      4
 145     0.0     1.0     0.0      1
 146    28.0    34.0    32.0     94
 147     0.0     1.0     1.0      2
 148     3.0     4.0     1.0      8
 149    54.0    44.0    37.0    135
 150     1.0     0.0     1.0      2
 151     0.0     1.0     2.0      3
 152     2.0     6.0     9.0     17
 153     8.0     5.0     4.0     17
 154  6178.0  6140.0  6540.0  18858

 [155 rows x 16 columns],
                                                0         1         2        3
 0                                Team (IOC code)  № Summer  № Winter  № Games
 1                                  Albania (ALB)         8         4       12
 2                           American Samoa (ASA)         8         1        9
 3                                  Andorra (AND)        11        12       23
 4                                   Angola (ANG)         9         0        9
 5                      Antigua and Barbuda (ANT)        10         0       10
 6                                    Aruba (ARU)         8         0        8
 7                               Bangladesh (BAN)         9         0        9
 8                             Belize (BIZ) [BIZ]        12         0       12
 9                              Benin (BEN) [BEN]        11         0       11
 10                                  Bhutan (BHU)         9         0        9
 11                                 Bolivia (BOL)        14         6       20
 12                  Bosnia and Herzegovina (BIH)         7         7       14
 13                  British Virgin Islands (IVB)         9         2       11
 14                              Brunei (BRU) [A]         5         0        5
 15                      Burkina Faso (BUR) [BUR]         9         0        9
 16                                Cambodia (CAM)         9         0        9
 17                              Cape Verde (CPV)         6         0        6
 18                          Cayman Islands (CAY)        10         2       12
 19                Central African Republic (CAF)        10         0       10
 20                                    Chad (CHA)        12         0       12
 21                                 Comoros (COM)         6         0        6
 22                   Republic of the Congo (CGO)        12         0       12
 23  Democratic Republic of the Congo (COD) [COD]        10         0       10
 24                            Cook Islands (COK)         8         0        8
 25                                Dominica (DMA)         6         1        7
 26                             El Salvador (ESA)        11         0       11
 27                       Equatorial Guinea (GEQ)         9         0        9
 28                              The Gambia (GAM)         9         0        9
 29                                    Guam (GUM)         8         1        9
 ..                                           ...       ...       ...      ...
 50                                Nepal (NEP)[a]        13         4       17
 51                               Nicaragua (NCA)        12         0       12
 52                                    Oman (OMA)         9         0        9
 53                                   Palau (PLW)         5         0        5
 54                               Palestine (PLE)         6         0        6
 55                        Papua New Guinea (PNG)        10         0       10
 56                                  Rwanda (RWA)         9         0        9
 57                   Saint Kitts and Nevis (SKN)         6         0        6
 58                             Saint Lucia (LCA)         6         0        6
 59        Saint Vincent and the Grenadines (VIN)         8         0        8
 60                              San Marino (SMR)        14        10       24
 61                   São Tomé and Príncipe (STP)         6         0        6
 62                              Seychelles (SEY)         9         0        9
 63                            Sierra Leone (SLE)        11         0       11
 64                         Solomon Islands (SOL)         9         0        9
 65                                 Somalia (SOM)         9         0        9
 66                             South Sudan (SSD)         1         0        1
 67                               Swaziland (SWZ)        10         1       11
 68                          East Timor (TLS) [I]         4         2        6
 69                            Turkmenistan (TKM)         6         0        6
 70                                  Tuvalu (TUV)         3         0        3
 71                                 Vanuatu (VAN)         8         0        8
 72                             Yemen (YEM) [YEM]         7         0        7
 73                      North Borneo (NBO) [NBO]         1         0        1
 74                            Malaya (MAL) [MAL]         2         0        2
 75                 Republic of China (ROC) [ROC]         3         0        3
 76                              Saar (SAA) [SAA]         1         0        1
 77                       North Yemen (YAR) [YAR]         2         0        2
 78                       South Yemen (YMD) [YMD]         1         0        1
 79              Refugee Olympic Team (ROT) [ROT]         1         0        1

 [80 rows x 4 columns],
                                     0             1             2   \
 0                                  NaN  Summer Games  Winter Games
 1                      Team (IOC code)             №           NaN
 2                    Germany (GER)[11]            16           191
 3              Germany (GER) (EUA)[12]            19           219
 4        Germany (GER) (EUA) (FRG)[13]            24           275
 5  Germany (GER) (EUA) (FRG) (GDR)[14]        25[15]           428

                3      4      5    6      7      8      9      10      11  \
 0  Combined Total    NaN    NaN  NaN    NaN    NaN    NaN    NaN     NaN
 1             NaN    NaN  Total    №    NaN    NaN    NaN  Total       №
 2             192  232.0    615   12   92.0   88.0   60.0    240      28
 3             246  268.0    733   15  100.0   94.0   65.0    259      34
 4             313  349.0    937   21  111.0  109.0   78.0    298      45
 5             442  476.0   1346   21  150.0  145.0  113.0    408  46[15]

       12     13     14     15
 0    NaN    NaN    NaN    NaN
 1    NaN    NaN    NaN  Total
 2  283.0  280.0  292.0    855
 3  319.0  340.0  333.0    992
 4  386.0  422.0  427.0   1235
 5  578.0  587.0  589.0   1754  ,
                                                   0             1   \
 0                                                NaN  Summer Games
 1                                    Team (IOC code)             №
 2                                   Russia (RUS)[16]             6
 3                         Russia (RUS)(RU1, OAR)[17]             9
 4                             Soviet Union (URS)[13]             9
 5                        Soviet Union (URS)(EUN)[14]            10
 6  Russia (RUS)(RU1, OAR) Soviet Union (URS)(EUN)...            19

              2               3      4      5    6      7      8      9   \
 0  Winter Games  Combined Total    NaN    NaN  NaN    NaN    NaN    NaN
 1           NaN             NaN    NaN  Total    №    NaN    NaN    NaN
 2           149             124  153.0    426    6   47.0   38.0   35.0
 3           150             128  156.0    434    7   49.0   44.0   44.0
 4           395             319  296.0   1010    9   78.0   57.0   59.0
 5           440             357  325.0   1122   10   87.0   63.0   67.0
 6           590             485  481.0   1556   17  136.0  107.0  111.0

       10   11     12     13     14     15
 0    NaN  NaN    NaN    NaN    NaN    NaN
 1  Total    №    NaN    NaN    NaN  Total
 2    120   12  196.0  162.0  188.0    546
 3    137   16  199.0  172.0  200.0    571
 4    194   18  473.0  376.0  355.0   1204
 5    217   20  527.0  420.0  392.0   1339
 6    354   36  726.0  592.0  592.0   1910  ,

In [5]:

#get the data related to games statistics.


df_olympic = Olympic_tables[1]

# Pull only the data records by deleting the top 2 rows

df_olympic_new = df_olympic.iloc[2:]

# Rename the columns 

df_olympic_new.columns=['Team IOC code','Number of Summer Games','Summer Gold won','Summer Silver won','Summer Bronze won','Summer Total medals', 'Number of Winter Games','Winter Gold won','Winter Silver won','Winter Bronze won','Winter Total medals', 'Combined Number of  Games','Combined Gold won','Combined Silver won','Combined Bronze won','Combined Total medals']

df_olympic_new.head()

,Team IOC code,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,Combined Number of Games,Combined Gold won,Combined Silver won,Combined Bronze won,Combined Total medals
2,Afghanistan (AFG),14,0,0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
3,Algeria (ALG),13,5,4,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
4,Argentina (ARG),24,21,25,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
5,Armenia (ARM),6,2,6,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
6,Australasia (ANZ) [ANZ],2,3,4,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12

# Get Poplulation data from wiki

Cleanup of extra row

In [6]:
# Assign url for scraping
population_url='https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)#List'

In [7]:
# fetch the data from url using pandas
population_tables = pd.read_html(population_url)
population_tables

[    0                                                  1
 0 NaN  It has been suggested that this article be mer...,
                                                    0
 0  Statistical regions as defined by the United N...,
         0                                             1  \
 0    Rank                               Country or area
 1       —                                         World
 2       1                                      China[a]
 3       2                                         India
 4       3                                 United States
 5       4                                     Indonesia
 6       5                                        Brazil
 7       6                                      Pakistan
 8       7                                       Nigeria
 9       8                                    Bangladesh
 10      9                                        Russia
 11     10                                        Mexico
 12     11                                         Japan
 13     12                                      Ethiopia
 14     13                                   Philippines
 15     14                                         Egypt
 16     15                                       Vietnam
 17     16                                       Germany
 18     17              Democratic Republic of the Congo
 19     18                                          Iran
 20     19                                        Turkey
 21     20                                      Thailand
 22     21                                United Kingdom
 23     22                                     France[b]
 24     23                                         Italy
 25     24                                   Tanzania[c]
 26     25                                  South Africa
 27     26                                       Myanmar
 28     27                                   South Korea
 29     28                                      Colombia
 ..    ...                                           ...
 205   204                                      Dominica
 206   205                                Cayman Islands
 207   206                                       Bermuda
 208   207                                     Greenland
 209   208                                American Samoa
 210   209                         Saint Kitts and Nevis
 211   210                      Northern Mariana Islands
 212   211                              Marshall Islands
 213   212                                 Faroe Islands
 214   213                                  Sint Maarten
 215   214                                        Monaco
 216   215                                 Liechtenstein
 217   216                      Turks and Caicos Islands
 218   217                                     Gibraltar
 219   218                                    San Marino
 220   219                        British Virgin Islands
 221   220                      Caribbean Netherlands[s]
 222   221                                         Palau
 223   222                                  Cook Islands
 224   223                                      Anguilla
 225   224                             Wallis and Futuna
 226   225                                         Nauru
 227   226                                        Tuvalu
 228   227                     Saint Pierre and Miquelon
 229   228                                    Montserrat
 230   229  Saint Helena, Ascension and Tristan da Cunha
 231   230                              Falkland Islands
 232   231                                          Niue
 233   232                                       Tokelau
 234   233                               Vatican City[t]

                            2                        3  \
 0    UN continentalregion[2]  UN statisticalregion[2]
 1                          —                        —
 2                       Asia             Eastern Asia
 3                       Asia            Southern Asia
 4                   Americas         Northern America
 5                       Asia       South-eastern Asia
 6                   Americas            South America
 7                       Asia            Southern Asia
 8                     Africa           Western Africa
 9                       Asia            Southern Asia
 10                    Europe           Eastern Europe
 11                  Americas          Central America
 12                      Asia             Eastern Asia
 13                    Africa           Eastern Africa
 14                      Asia       South-eastern Asia
 15                    Africa          Northern Africa
 16                      Asia       South-eastern Asia
 17                    Europe           Western Europe
 18                    Africa            Middle Africa
 19                      Asia            Southern Asia
 20                      Asia             Western Asia
 21                      Asia       South-eastern Asia
 22                    Europe          Northern Europe
 23                    Europe           Western Europe
 24                    Europe          Southern Europe
 25                    Africa           Eastern Africa
 26                    Africa          Southern Africa
 27                      Asia       South-eastern Asia
 28                      Asia             Eastern Asia
 29                  Americas            South America
 ..                       ...                      ...
 205                 Americas                Caribbean
 206                 Americas                Caribbean
 207                 Americas         Northern America
 208                 Americas         Northern America
 209                  Oceania                Polynesia
 210                 Americas                Caribbean
 211                  Oceania               Micronesia
 212                  Oceania               Micronesia
 213                   Europe          Northern Europe
 214                 Americas                Caribbean
 215                   Europe           Western Europe
 216                   Europe           Western Europe
 217                 Americas                Caribbean
 218                   Europe          Southern Europe
 219                   Europe          Southern Europe
 220                 Americas                Caribbean
 221                 Americas                Caribbean
 222                  Oceania               Micronesia
 223                  Oceania                Polynesia
 224                 Americas                Caribbean
 225                  Oceania                Polynesia
 226                  Oceania               Micronesia
 227                  Oceania                Polynesia
 228                 Americas         Northern America
 229                 Americas                Caribbean
 230                   Africa           Western Africa
 231                 Americas            South America
 232                  Oceania                Polynesia
 233                  Oceania                Polynesia
 234                   Europe          Southern Europe

                               4                           5       6
 0    Population(1 July 2016)[3]  Population(1 July 2017)[3]  Change
 1                    7466964280                  7550262101   +1.1%
 2                    1403500365                  1409517397   +0.4%
 3                    1324171354                  1339180127   +1.1%
 4                     322179605                   324459463   +0.7%
 5                     261115456                   263991379   +1.1%
 6                     207652865                   209288278   +0.8%
 7                     193203476                   197015955   +2.0%
 8                     185989640                   190886311   +2.6%
 9                     162951560                   164669751   +1.1%
 10                    146864513                   143989754   −2.0%
 11                    127540423                   129163276   +1.3%
 12                    127748513                   127484450   −0.2%
 13                    102403196                   104957438   +2.5%
 14                    103320222                   104918090   +1.5%
 15                     95688681                    97553151   +1.9%
 16                     94569072                    95540800   +1.0%
 17                     81914672                    82114224   +0.2%
 18                     78736153                    81339988   +3.3%
 19                     80277428                    81162788   +1.1%
 20                     79512426                    80745020   +1.6%
 21                     68863514                    69037513   +0.3%
 22                     65788574                    66181585   +0.6%
 23                     64720690                    64979548   +0.4%
 24                     59429938                    59359900   −0.1%
 25                     55572201                    57310019   +3.1%
 26                     56015473                    56717156   +1.3%
 27                     52885223                    53370609   +0.9%
 28                     50791919                    50982212   +0.4%
 29                     48653419                    49065615   +0.8%
 ..                          ...                         ...     ...
 205                       73543                       73925   +0.5%
 206                       60765                       61559   +1.3%
 207                       61666                       61349   −0.5%
 208                       56412                       56480   +0.1%
 209                       55599                       55641   +0.1%
 210                       54821                       55345   +1.0%
 211                       55023                       55144   +0.2%
 212                       53066                       53127   +0.1%
 213                       49117                       49290   +0.4%
 214                       39537                       40120   +1.5%
 215                       38499                       38695   +0.5%
 216                       37666                       37922   +0.7%
 217                       34900                       35446   +1.6%
 218                       34408                       34571   +0.5%
 219                       33203                       33400   +0.6%
 220                       30661                       31196   +1.7%
 221                       25019                       25398   +1.5%
 222                       21503                       21729   +1.1%
 223                       17379                       17380     NaN
 224                       14764                       14909   +1.0%
 225                       11899                       11773   −1.1%
 226                       11347                       11359   +0.1%
 227                       11097                       11192   +0.9%
 228                        6305                        6320   +0.2%
 229                        5152                        5177   +0.5%
 230                        4035                        4049   +0.3%
 231                        2910                        2910     NaN
 232                        1624                        1618   −0.4%
 233                        1282                        1300   +1.4%
 234                         801                         792   −1.1%

 [235 rows x 7 columns],
                                                     0  \
 0      vteLists of countries by population statistics
 1                                              Global
 2                                    (Sub-)continents
 3                                    Intercontinental
 4                                Cities/urban regions
 5                                     Past and future
 6                                  Population density
 7                                   Growth indicators
 8                                  Other demographics
 9                                              Health
 10                           Education and innovation
 11                                           Economic
 12  List of international rankings List of top int...

                                                     1
 0                                                 NaN
 1   Current population Current population (United ...
 2   Africa Asia Europe North America Caribbean Oce...
 3   Americas Arab world Commonwealth of Nations Eu...
 4   National capitals Cities proper Metropolitan a...
 5   Past population (United Nations estimates) Pas...
 6   Current density Current real density based on ...
 7   Population growth rate Natural increase Birth ...
 8   Age at first marriage Divorce rate Ethnic and ...
 9   Antiviral medications for pandemic influenza H...
 10  Bloomberg Innovation Index Education Index Int...
 11  Development aid given Official Development Ass...
 12                                                NaN  ]

In [8]:
# Populate the population data in dataframe

df_population = population_tables[2]
df_population
 #Get rid of the header rows

df_new_population = df_population.iloc[2:]

#Rename columns

df_new_population.columns=['Rank', 'Country', 'UN continentalregion', 'UN statisticalregion', 'Population_2016','Population_2017', 'Change'  ]

#df_new_population.set_index('Country', inplace=True)
df_new_population

,Rank,Country,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
4,3,United States,Americas,Northern America,322179605,324459463,+0.7%
5,4,Indonesia,Asia,South-eastern Asia,261115456,263991379,+1.1%
6,5,Brazil,Americas,South America,207652865,209288278,+0.8%
7,6,Pakistan,Asia,Southern Asia,193203476,197015955,+2.0%
8,7,Nigeria,Africa,Western Africa,185989640,190886311,+2.6%
9,8,Bangladesh,Asia,Southern Asia,162951560,164669751,+1.1%
10,9,Russia,Europe,Eastern Europe,146864513,143989754,−2.0%
11,10,Mexico,Americas,Central America,127540423,129163276,+1.3%
12,11,Japan,Asia,Eastern Asia,127748513,127484450,−0.2%
13,12,Ethiopia,Africa,Eastern Africa,102403196,104957438,+2.5%
14,13,Philippines,Asia,South-eastern Asia,103320222,104918090,+1.5%
15,14,Egypt,Africa,Northern Africa,95688681,97553151,+1.9%
16,15,Vietnam,Asia,South-eastern Asia,94569072,95540800,+1.0%
17,16,Germany,Europe,Western Europe,81914672,82114224,+0.2%
18,17,Democratic Republic of the Congo,Africa,Middle Africa,78736153,81339988,+3.3%
19,18,Iran,Asia,Southern Asia,80277428,81162788,+1.1%
20,19,Turkey,Asia,Western Asia,79512426,80745020,+1.6%
21,20,Thailand,Asia,South-eastern Asia,68863514,69037513,+0.3%
22,21,United Kingdom,Europe,Northern Europe,65788574,66181585,+0.6%
23,22,France[b],Europe,Western Europe,64720690,64979548,+0.4%
24,23,Italy,Europe,Southern Europe,59429938,59359900,−0.1%
25,24,Tanzania[c],Africa,Eastern Africa,55572201,57310019,+3.1%
26,25,South Africa,Africa,Southern Africa,56015473,56717156,+1.3%
27,26,Myanmar,Asia,South-eastern Asia,52885223,53370609,+0.9%
28,27,South Korea,Asia,Eastern Asia,50791919,50982212,+0.4%
29,28,Colombia,Americas,South America,48653419,49065615,+0.8%
30,29,Kenya,Africa,Eastern Africa,48461567,49699862,+2.6%
31,30,Spain[d],Europe,Southern Europe,46347576,46354321,NaN
...,...,...,...,...,...,...,...
205,204,Dominica,Americas,Caribbean,73543,73925,+0.5%
206,205,Cayman Islands,Americas,Caribbean,60765,61559,+1.3%
207,206,Bermuda,Americas,Northern America,61666,61349,−0.5%
208,207,Greenland,Americas,Northern America,56412,56480,+0.1%
209,208,American Samoa,Oceania,Polynesia,55599,55641,+0.1%
210,209,Saint Kitts and Nevis,Americas,Caribbean,54821,55345,+1.0%
211,210,Northern Mariana Islands,Oceania,Micronesia,55023,55144,+0.2%
212,211,Marshall Islands,Oceania,Micronesia,53066,53127,+0.1%
213,212,Faroe Islands,Europe,Northern Europe,49117,49290,+0.4%
214,213,Sint Maarten,Americas,Caribbean,39537,40120,+1.5%
215,214,Monaco,Europe,Western Europe,38499,38695,+0.5%
216,215,Liechtenstein,Europe,Western Europe,37666,37922,+0.7%
217,216,Turks and Caicos Islands,Americas,Caribbean,34900,35446,+1.6%
218,217,Gibraltar,Europe,Southern Europe,34408,34571,+0.5%
219,218,San Marino,Europe,Southern Europe,33203,33400,+0.6%
220,219,British Virgin Islands,Americas,Caribbean,30661,31196,+1.7%
221,220,Caribbean Netherlands[s],Americas,Caribbean,25019,25398,+1.5%
222,221,Palau,Oceania,Micronesia,21503,21729,+1.1%
223,222,Cook Islands,Oceania,Polynesia,17379,17380,NaN
224,223,Anguilla,Americas,Caribbean,14764,14909,+1.0%
225,224,Wallis and Futuna,Oceania,Polynesia,11899,11773,−1.1%
226,225,Nauru,Oceania,Micronesia,11347,11359,+0.1%
227,226,Tuvalu,Oceania,Polynesia,11097,11192,+0.9%
228,227,Saint Pierre and Miquelon,Americas,Northern America,6305,6320,+0.2%
229,228,Montserrat,Americas,Caribbean,5152,5177,+0.5%
230,229,"Saint Helena, Ascension and Tristan da Cunha",Africa,Western Africa,4035,4049,+0.3%
231,230,Falkland Islands,Americas,South America,2910,2910,NaN
232,231,Niue,Oceania,Polynesia,1624,1618,−0.4%
233,232,Tokelau,Oceania,Polynesia,1282,1300,+1.4%
234,233,Vatican City[t],Europe,Southern Europe,801,792,−1.1%

# Begin data cleansing to make the country codes in sync with one another

In [9]:
df_olympic_new.head()

,Team IOC code,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,Combined Number of Games,Combined Gold won,Combined Silver won,Combined Bronze won,Combined Total medals
2,Afghanistan (AFG),14,0,0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
3,Algeria (ALG),13,5,4,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
4,Argentina (ARG),24,21,25,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
5,Armenia (ARM),6,2,6,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
6,Australasia (ANZ) [ANZ],2,3,4,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12

In [10]:

  
# new data frame with split value columns 
new = df_olympic_new["Team IOC code"].str.split("(", n = 1, expand = True) 
  
# making seperate country column from new data frame 
df_olympic_new["Country"]= new[0] 
  


# Dropping old Name columns 
df_olympic_new.drop(columns =["Team IOC code"], inplace = True) 


#df_olympic_new.set_index('Country', inplace=True)
df_olympic_new.head()

C:\Users\reema\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\reema\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,Combined Number of Games,Combined Gold won,Combined Silver won,Combined Bronze won,Combined Total medals,Country
2,14,0,0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2,Afghanistan
3,13,5,4,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17,Algeria
4,24,21,25,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74,Argentina
5,6,2,6,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14,Armenia
6,2,3,4,5.0,12,0,0.0,0.0,0.0,0,2,3.0,4.0,5.0,12,Australasia

In [ ]:
df_new_population['Country'].iloc[2]

In [ ]:
df_olympic_new['Country'].iloc[2]

In [11]:


df_olympic_new['Country'] = df_olympic_new['Country'].apply(lambda s: s.replace('\xa0', '' ).strip())

df_olympic_new['Country'].iloc[2]

C:\Users\reema\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

'Argentina'

In [12]:
# pd.merge(, , how='outer', on='Country', sort=True,
#          suffixes=('_x', '_y'), copy=False, indicator=False,
#          validate=None)


combined_df = pd.merge(df_olympic_new, df_new_population, how='outer', on='Country')
combined_df

,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,...,Combined Silver won,Combined Bronze won,Combined Total medals,Country,Rank,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change
0,14,0,0,2.0,2,0,0.0,0.0,0.0,0,...,0.0,2.0,2,Afghanistan,40,Asia,Southern Asia,34656032,35530081,+2.5%
1,13,5,4,8.0,17,3,0.0,0.0,0.0,0,...,4.0,8.0,17,Algeria,34,Africa,Northern Africa,40606052,41318142,+1.8%
2,24,21,25,28.0,74,19,0.0,0.0,0.0,0,...,25.0,28.0,74,Argentina,31,Americas,South America,43847430,44271041,+1.0%
3,6,2,6,6.0,14,7,0.0,0.0,0.0,0,...,6.0,6.0,14,Armenia,138,Asia,Western Asia,2924816,2930450,+0.2%
4,2,3,4,5.0,12,0,0.0,0.0,0.0,0,...,4.0,5.0,12,Australasia,NaN,NaN,NaN,NaN,NaN,NaN
5,26,147,163,187.0,497,19,5.0,5.0,5.0,15,...,168.0,192.0,512,Australia,NaN,NaN,NaN,NaN,NaN,NaN
6,27,18,33,36.0,87,23,64.0,81.0,87.0,232,...,114.0,123.0,319,Austria,98,Europe,Western Europe,8712137,8735453,+0.3%
7,6,7,11,25.0,43,6,0.0,0.0,0.0,0,...,11.0,25.0,43,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN
8,16,6,2,6.0,14,0,0.0,0.0,0.0,0,...,2.0,6.0,14,Bahamas,177,Americas,Caribbean,391232,395361,+1.1%
9,9,2,1,0.0,3,0,0.0,0.0,0.0,0,...,1.0,0.0,3,Bahrain,152,Asia,Western Asia,1425171,1492584,+4.7%
10,12,0,0,1.0,1,0,0.0,0.0,0.0,0,...,0.0,1.0,1,Barbados,181,Americas,Caribbean,284996,285719,+0.3%
11,6,12,27,39.0,78,7,8.0,5.0,5.0,18,...,32.0,44.0,96,Belarus,93,Europe,Eastern Europe,9480042,9468338,−0.1%
12,26,40,53,55.0,148,21,1.0,2.0,3.0,6,...,55.0,58.0,154,Belgium,80,Europe,Western Europe,11358379,11429336,+0.6%
13,18,0,0,1.0,1,8,0.0,0.0,0.0,0,...,0.0,1.0,1,Bermuda,206,Americas,Northern America,61666,61349,−0.5%
14,3,0,1,3.0,4,0,0.0,0.0,0.0,0,...,1.0,3.0,4,Bohemia,NaN,NaN,NaN,NaN,NaN,NaN
15,10,0,1,0.0,1,0,0.0,0.0,0.0,0,...,1.0,0.0,1,Botswana,144,Africa,Southern Africa,2250260,2291661,+1.8%
16,22,30,36,63.0,129,8,0.0,0.0,0.0,0,...,36.0,63.0,129,Brazil,5,Americas,South America,207652865,209288278,+0.8%
17,1,0,0,2.0,2,0,0.0,0.0,0.0,0,...,0.0,2.0,2,British West Indies,NaN,NaN,NaN,NaN,NaN,NaN
18,20,51,87,80.0,218,20,1.0,2.0,3.0,6,...,89.0,83.0,224,Bulgaria,105,Europe,Eastern Europe,7131494,7084571,−0.7%
19,6,1,1,0.0,2,0,0.0,0.0,0.0,0,...,1.0,0.0,2,Burundi,85,Africa,Eastern Africa,10524117,10864245,+3.2%
20,14,3,1,2.0,6,1,0.0,0.0,0.0,0,...,1.0,2.0,6,Cameroon,55,Africa,Middle Africa,23439189,24053727,+2.6%
21,26,64,102,136.0,302,23,73.0,64.0,62.0,199,...,166.0,198.0,501,Canada,38,Americas,Northern America,36289822,36624199,+0.9%
22,23,2,7,4.0,13,17,0.0,0.0,0.0,0,...,7.0,4.0,13,Chile,65,Americas,South America,17909754,18054726,+0.8%
23,10,224,167,155.0,546,11,13.0,28.0,21.0,62,...,195.0,176.0,608,China,NaN,NaN,NaN,NaN,NaN,NaN
24,19,5,9,14.0,28,2,0.0,0.0,0.0,0,...,9.0,14.0,28,Colombia,28,Americas,South America,48653419,49065615,+0.8%
25,15,1,1,2.0,4,6,0.0,0.0,0.0,0,...,1.0,2.0,4,Costa Rica,122,Americas,Central America,4857274,4905769,+1.0%
26,13,1,1,1.0,3,0,0.0,0.0,0.0,0,...,1.0,1.0,3,Ivory Coast,54,Africa,Western Africa,23695919,24294750,+2.5%
27,7,11,10,12.0,33,8,4.0,6.0,1.0,11,...,16.0,13.0,44,Croatia,129,Europe,Southern Europe,4213265,4189353,−0.6%
28,20,78,68,80.0,226,0,0.0,0.0,0.0,0,...,68.0,80.0,226,Cuba,79,Americas,Caribbean,11475982,11484636,+0.1%
29,10,0,1,0.0,1,11,0.0,0.0,0.0,0,...,1.0,0.0,1,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Isle of Man,202,Europe,Northern Europe,83737,84287,+0.7%
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Andorra,203,Europe,Southern Europe,77281,76965,−0.4%
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Dominica,204,Americas,Caribbean,73543,73925,+0.5%
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cayman Islands,205,Americas,Caribbean,60765,61559,+1.3%
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Greenland,207,Americas,Northern America,56412,56480,+0.1%
246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,American Samoa,208,Oceania,Polynesia,55599,55641,+0.1%
247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Saint Kitts and Nevis,209,Americas,Caribbean,54821,55345,+1.0%
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Northern Mariana Islands,210,Oceania,Micronesia,55023,55144,+0.2%
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Marshall Islands,211,Oceania,Micronesia,53066,53127,+0.1%
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Faroe Islands,212,Europe,Northern Europe,49117,49290,+0.4%
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sint Maarten,213,Americas,Caribbean,39537,40120,+1.5%
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Monaco,214,Europe,Western Europe,38499,38695,+0.5%
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Turks and Caicos Islands,216,Americas,Caribbean,34900,35446,+1.6%
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Gibraltar,217,Europe,Southern Europe,34408,34571,+0.5%
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,San Marino,218,Europe,Southern Europe,33203,33400,+0.6%
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,British Virgin Islands,219,Americas,Caribbean,30661,31196,+1.7%
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Caribbean Netherlands[s],220,Americas,Caribbean,25019,25398,+1.5%
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Palau,221,Oceania,Micronesia,21503,21729,+1.1%
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cook Islands,222,Oceania,Polynesia,17379,17380,NaN
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Anguilla,223,Americas,Caribbean,14764,14909,+1.0%
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Wallis and Futuna,224,Oceania,Polynesia,11899,11773,−1.1%
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Nauru,225,Oceania,Micronesia,11347,11359,+0.1%
263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Tuvalu,226,Oceania,Polynesia,11097,11192,+0.9%
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Saint Pierre and Miquelon,227,Americas,Northern America,6305,6320,+0.2%
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Montserrat,228,Americas,Caribbean,5152,5177,+0.5%
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"Saint Helena, Ascension and Tristan da Cunha",229,Africa,Western Africa,4035,4049,+0.3%
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Falkland Islands,230,Americas,South America,2910,2910,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Niue,231,Oceania,Polynesia,1624,1618,−0.4%
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Tokelau,232,Oceania,Polynesia,1282,1300,+1.4%
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Vatican City[t],233,Europe,Southern Europe,801,792,−1.1%

In [13]:
combined_df.replace(np.nan, 'N', inplace=True)

In [14]:
combined_df

,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,...,Combined Silver won,Combined Bronze won,Combined Total medals,Country,Rank,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change
0,14,0,0,2,2,0,0,0,0,0,...,0,2,2,Afghanistan,40,Asia,Southern Asia,34656032,35530081,+2.5%
1,13,5,4,8,17,3,0,0,0,0,...,4,8,17,Algeria,34,Africa,Northern Africa,40606052,41318142,+1.8%
2,24,21,25,28,74,19,0,0,0,0,...,25,28,74,Argentina,31,Americas,South America,43847430,44271041,+1.0%
3,6,2,6,6,14,7,0,0,0,0,...,6,6,14,Armenia,138,Asia,Western Asia,2924816,2930450,+0.2%
4,2,3,4,5,12,0,0,0,0,0,...,4,5,12,Australasia,N,N,N,N,N,N
5,26,147,163,187,497,19,5,5,5,15,...,168,192,512,Australia,N,N,N,N,N,N
6,27,18,33,36,87,23,64,81,87,232,...,114,123,319,Austria,98,Europe,Western Europe,8712137,8735453,+0.3%
7,6,7,11,25,43,6,0,0,0,0,...,11,25,43,Azerbaijan,N,N,N,N,N,N
8,16,6,2,6,14,0,0,0,0,0,...,2,6,14,Bahamas,177,Americas,Caribbean,391232,395361,+1.1%
9,9,2,1,0,3,0,0,0,0,0,...,1,0,3,Bahrain,152,Asia,Western Asia,1425171,1492584,+4.7%
10,12,0,0,1,1,0,0,0,0,0,...,0,1,1,Barbados,181,Americas,Caribbean,284996,285719,+0.3%
11,6,12,27,39,78,7,8,5,5,18,...,32,44,96,Belarus,93,Europe,Eastern Europe,9480042,9468338,−0.1%
12,26,40,53,55,148,21,1,2,3,6,...,55,58,154,Belgium,80,Europe,Western Europe,11358379,11429336,+0.6%
13,18,0,0,1,1,8,0,0,0,0,...,0,1,1,Bermuda,206,Americas,Northern America,61666,61349,−0.5%
14,3,0,1,3,4,0,0,0,0,0,...,1,3,4,Bohemia,N,N,N,N,N,N
15,10,0,1,0,1,0,0,0,0,0,...,1,0,1,Botswana,144,Africa,Southern Africa,2250260,2291661,+1.8%
16,22,30,36,63,129,8,0,0,0,0,...,36,63,129,Brazil,5,Americas,South America,207652865,209288278,+0.8%
17,1,0,0,2,2,0,0,0,0,0,...,0,2,2,British West Indies,N,N,N,N,N,N
18,20,51,87,80,218,20,1,2,3,6,...,89,83,224,Bulgaria,105,Europe,Eastern Europe,7131494,7084571,−0.7%
19,6,1,1,0,2,0,0,0,0,0,...,1,0,2,Burundi,85,Africa,Eastern Africa,10524117,10864245,+3.2%
20,14,3,1,2,6,1,0,0,0,0,...,1,2,6,Cameroon,55,Africa,Middle Africa,23439189,24053727,+2.6%
21,26,64,102,136,302,23,73,64,62,199,...,166,198,501,Canada,38,Americas,Northern America,36289822,36624199,+0.9%
22,23,2,7,4,13,17,0,0,0,0,...,7,4,13,Chile,65,Americas,South America,17909754,18054726,+0.8%
23,10,224,167,155,546,11,13,28,21,62,...,195,176,608,China,N,N,N,N,N,N
24,19,5,9,14,28,2,0,0,0,0,...,9,14,28,Colombia,28,Americas,South America,48653419,49065615,+0.8%
25,15,1,1,2,4,6,0,0,0,0,...,1,2,4,Costa Rica,122,Americas,Central America,4857274,4905769,+1.0%
26,13,1,1,1,3,0,0,0,0,0,...,1,1,3,Ivory Coast,54,Africa,Western Africa,23695919,24294750,+2.5%
27,7,11,10,12,33,8,4,6,1,11,...,16,13,44,Croatia,129,Europe,Southern Europe,4213265,4189353,−0.6%
28,20,78,68,80,226,0,0,0,0,0,...,68,80,226,Cuba,79,Americas,Caribbean,11475982,11484636,+0.1%
29,10,0,1,0,1,11,0,0,0,0,...,1,0,1,Cyprus,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Isle of Man,202,Europe,Northern Europe,83737,84287,+0.7%
242,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Andorra,203,Europe,Southern Europe,77281,76965,−0.4%
243,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Dominica,204,Americas,Caribbean,73543,73925,+0.5%
244,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Cayman Islands,205,Americas,Caribbean,60765,61559,+1.3%
245,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Greenland,207,Americas,Northern America,56412,56480,+0.1%
246,N,N,N,N,N,N,N,N,N,N,...,N,N,N,American Samoa,208,Oceania,Polynesia,55599,55641,+0.1%
247,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Saint Kitts and Nevis,209,Americas,Caribbean,54821,55345,+1.0%
248,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Northern Mariana Islands,210,Oceania,Micronesia,55023,55144,+0.2%
249,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Marshall Islands,211,Oceania,Micronesia,53066,53127,+0.1%
250,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Faroe Islands,212,Europe,Northern Europe,49117,49290,+0.4%
251,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Sint Maarten,213,Americas,Caribbean,39537,40120,+1.5%
252,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Monaco,214,Europe,Western Europe,38499,38695,+0.5%
253,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Turks and Caicos Islands,216,Americas,Caribbean,34900,35446,+1.6%
254,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Gibraltar,217,Europe,Southern Europe,34408,34571,+0.5%
255,N,N,N,N,N,N,N,N,N,N,...,N,N,N,San Marino,218,Europe,Southern Europe,33203,33400,+0.6%
256,N,N,N,N,N,N,N,N,N,N,...,N,N,N,British Virgin Islands,219,Americas,Caribbean,30661,31196,+1.7%
257,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Caribbean Netherlands[s],220,Americas,Caribbean,25019,25398,+1.5%
258,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Palau,221,Oceania,Micronesia,21503,21729,+1.1%
259,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Cook Islands,222,Oceania,Polynesia,17379,17380,N
260,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Anguilla,223,Americas,Caribbean,14764,14909,+1.0%
261,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Wallis and Futuna,224,Oceania,Polynesia,11899,11773,−1.1%
262,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Nauru,225,Oceania,Micronesia,11347,11359,+0.1%
263,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Tuvalu,226,Oceania,Polynesia,11097,11192,+0.9%
264,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Saint Pierre and Miquelon,227,Americas,Northern America,6305,6320,+0.2%
265,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Montserrat,228,Americas,Caribbean,5152,5177,+0.5%
266,N,N,N,N,N,N,N,N,N,N,...,N,N,N,"Saint Helena, Ascension and Tristan da Cunha",229,Africa,Western Africa,4035,4049,+0.3%
267,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Falkland Islands,230,Americas,South America,2910,2910,N
268,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Niue,231,Oceania,Polynesia,1624,1618,−0.4%
269,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Tokelau,232,Oceania,Polynesia,1282,1300,+1.4%
270,N,N,N,N,N,N,N,N,N,N,...,N,N,N,Vatican City[t],233,Europe,Southern Europe,801,792,−1.1%

In [15]:
combined_df_dataissues = combined_df[combined_df['Population_2017'] == 'N'  ]
#combined_df_dataissues2= combined_df_dataissues[combined_df_dataissues['Combined Total medals']>'50' ]

In [16]:
combined_df_dataissues.head()

,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,...,Combined Silver won,Combined Bronze won,Combined Total medals,Country,Rank,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change
4,2,3,4,5,12,0,0,0,0,0,...,4,5,12,Australasia,N,N,N,N,N,N
5,26,147,163,187,497,19,5,5,5,15,...,168,192,512,Australia,N,N,N,N,N,N
7,6,7,11,25,43,6,0,0,0,0,...,11,25,43,Azerbaijan,N,N,N,N,N,N
14,3,0,1,3,4,0,0,0,0,0,...,1,3,4,Bohemia,N,N,N,N,N,N
17,1,0,0,2,2,0,0,0,0,0,...,0,2,2,British West Indies,N,N,N,N,N,N

In [ ]:
The above outer join helped us find country name mismatches which are being  fixed  below

In [17]:

#df_new_population.replace('China[a]', 'China', inplace=True)
new = df_new_population["Country"].str.split("[", n = 1, expand = True) 
  
# making seperate country column from new data frame 
df_new_population["Country1"]= new[0] 
  


# Dropping old Name columns 
df_new_population.drop(columns =["Country"], inplace = True) 

#rename Country1 to Country
df_new_population.rename(columns={'Country1':'Country'}, inplace=True)

#df_olympic_new.set_index('Country', inplace=True)
df_new_population.head()

C:\Users\reema\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\reema\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
C:\Users\reema\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Rank,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change,Country
2,1,Asia,Eastern Asia,1403500365,1409517397,+0.4%,China
3,2,Asia,Southern Asia,1324171354,1339180127,+1.1%,India
4,3,Americas,Northern America,322179605,324459463,+0.7%,United States
5,4,Asia,South-eastern Asia,261115456,263991379,+1.1%,Indonesia
6,5,Americas,South America,207652865,209288278,+0.8%,Brazil

In [18]:
combined_df_new = pd.merge(df_olympic_new, df_new_population, how='inner', on='Country')
combined_df_new.head()

,Number of Summer Games,Summer Gold won,Summer Silver won,Summer Bronze won,Summer Total medals,Number of Winter Games,Winter Gold won,Winter Silver won,Winter Bronze won,Winter Total medals,...,Combined Silver won,Combined Bronze won,Combined Total medals,Country,Rank,UN continentalregion,UN statisticalregion,Population_2016,Population_2017,Change
0,14,0,0,2.0,2,0,0.0,0.0,0.0,0,...,0.0,2.0,2,Afghanistan,40,Asia,Southern Asia,34656032,35530081,+2.5%
1,13,5,4,8.0,17,3,0.0,0.0,0.0,0,...,4.0,8.0,17,Algeria,34,Africa,Northern Africa,40606052,41318142,+1.8%
2,24,21,25,28.0,74,19,0.0,0.0,0.0,0,...,25.0,28.0,74,Argentina,31,Americas,South America,43847430,44271041,+1.0%
3,6,2,6,6.0,14,7,0.0,0.0,0.0,0,...,6.0,6.0,14,Armenia,138,Asia,Western Asia,2924816,2930450,+0.2%
4,26,147,163,187.0,497,19,5.0,5.0,5.0,15,...,168.0,192.0,512,Australia,53,Oceania,Australia and New Zealand,24125848,24450561,+1.3%